[submodule "themes/spaced-blog"]
	path = themes/spaced-blog
	url = https://github.com/Morgscode/hugo-theme-spaced-blog.git
[submodule "themes/hugo-liftoff"]
	path = themes/hugo-liftoff
	url = https://github.com/wjh18/hugo-liftoff
