/* Add custom CSS */
.logo {
  font-family: 'Inconsolata', monospace, monospace;
  font-size: 250%;
}

.section-bg {
  position: absolute;
  left: 0px;
  width: 100%;
  max-width: 100%;
  z-index: -50;
  filter: grayscale(70%) brightness(.3);
  opacity: 0.5;
}
